.invisible {
  display: none;
}
.fltrt {
  float: right;
  display: block;
  padding: 0 10px;
}
.less-top {
  margin-top: -28px;
}

.dash-top td div, .dash-top label, .inline label, .inline div, .inline
{
  display: inline;
}
.dash-top td {
  padding: 0 10px;
}

ul.chart-options {
  margin: 0;
  font-size: 90%;
  padding: 0;
  list-style: none;
}
ul.chart-options li {
  display: inline;
  background: none;
  padding: 0 2px;
}
.empty-chart {
  text-align: center;
}
.enabled-queries {
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  font-size: 110%;
  font-weight: bold;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
  color: #ef8a1d;
}
.tableHeader-processed th {
  text-align: center;
}

.param-name, .chart-no-data, .chart-private {
  font-weight: bold;
}

.charts-find {
  margin: 5px;
}
.manage-container fieldset {
  width: 140px;
  float: left;
  margin: 0;
}
.container-user_id fieldset, .container-type fieldset, .container-sharing fieldset, .container-pagenum fieldset {
  width: 100px;
}

.container-title fieldset {
/*  clear: both;*/
}

.form-render {
  display: none;
}

.chart-edit-title, .chart-edit-height, .chart-addedit-pagenum {
  margin-left: 20px;
}